/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require stylee.css
 *= require bootstrap.css 
 *= require font-awesome.css
 *= require gritter
 *= require will_paginate
 *= require dataTables/jquery.dataTables
 *= require bootstrap-datetimepicker
 *= require bootstrapValidator.min
 *= require dd
 *= require select2
 *= require select2-bootstrap
 */
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #585858 0%, #111111 100%) repeat scroll 0 0;
      border: 1px solid #111;
      color: #000 !important;
    }