<!DOCTYPE html>
<html>
<head>
  <title>Bleapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
<script>
  $(document).ready(function(){
  	var a = window.location.href.split("/")
  	if (a[a.length - 1] == "sign_in") {
  		window.location.href = '/'
  	}
});
</script>